{{ partial "header.html" . }}


<nav>
	<ul class="w3-breadcrumb">
	{{ range .Ancestors.Reverse }}
		<li class="w3-bar-item">
			<a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a>
		</li>
	{{ end }}
		<li class="w3-active">
			<a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a>
		</li>
	</ul>
</nav>


{{ if eq .Section "posts" }}
<div class="w3-container">
	<h1>{{ .Title }}</h1>
	<span class="w3-tag w3-round-large">{{ .Date.Format "January 2, 2006" }}</span>
	<span class="w3-tag w3-round-large">{{ .ReadingTime }} minute read</span>
	<span class="w3-tag w3-round-large">{{ .WordCount }} words</span>
</div>
{{ end }}

{{ if ne .Title "Sitemap" }}
<br>

<div class="w3-container">

{{ if .Params.image }}
<div class="hero-image-container w3-round-large">
	<img src="{{ .Params.image }}" alt="{{ .Params.image_alt }}" class="w3-round-large hero-image" style="border: 1px solid grey;" />
</div>
{{ end }}

{{ .Content }}

</div>

<hr>
<h5 class="w3-container">Related articles</h5>
<div class="w3-container">
    {{ $data := where .Site.Pages.ByLastmod.Reverse "Params.categories" "intersect" (slice "blog")}}
    {{ range first 5 $data }}
        {{ partial "blog-post-list.html" . }}
    {{ end }}
</div>

{{ end }}

{{ if eq .Title "Sitemap"}}
<ul class="w3-ul">
	<li><h1>{{.Title}}</h1></li>
	{{ range where .Site.AllPages "Kind" "page" }}
	{{ if ne .Title "Sitemap"}}
		<li>
			<a href="{{.RelPermalink}}">
				<b>{{ .Title }}</b><br>
				{{.Section | title }}
			</a>
		</li>
	{{ end }}
	{{ end }}
</ul>
{{ end }}

{{ partial "footer.html" . }}
	