body,h1,h2,h3,h4,h5,h6 {font-family: "Karma", sans-serif;}
html,body {
  color: #333;
  line-height: 1.5;
  margin: 0;
  padding: 0;
}

main {
  max-width: 800px;
  margin: auto;
}

.back-panel {
  height: 100%;
  background-color: #0000008c;
  width: 100%;
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  cursor: pointer;
}

.material-icons {
  line-height: 1.5;
}

.blog-list h1 {
  font-size: 18px;
}
.blog-list h1 a {
  text-decoration: none;
}