body,h1,h2,h3,h4,h5,h6 {font-family: "Karma", sans-serif;}
html,body {
  color: #333;
  line-height: 1.5;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;  
}

main {
  max-width: 800px;
  margin: auto;
}

.back-panel {
  height: 100%;
  background-color: #0000008c;
  width: 100%;
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  cursor: pointer;
}

.material-icons {
  line-height: 1.5;
}

.blog-list h1 {
  font-size: 18px;
}
.blog-list h1 a {
  text-decoration: none;
}

ul.w3-breadcrumb {
  padding: 4px 8px;
  list-style: none;
  background-color: #eee;
  margin: 0;
}
ul.w3-breadcrumb li {
  display: inline;
  font-size: 10px;
}
ul.w3-breadcrumb li+li:before {
  padding: 4px;
  color: black;
  content: "/\00a0";
}
ul.w3-breadcrumb li a {
  color: #0275d8;
  text-decoration: none;
}
ul.w3-breadcrumb li a:hover {
  color: #01447e;
  text-decoration: underline;
}
ul.w3-breadcrumb .w3-active a {
  color: #000;
}

.top {
  --offset: 50px;
  
  position: sticky;
  bottom: 10px;
  margin-right: 10px;
  place-self: end;
  margin-top: calc(100vh + var(--offset));
  
  /* visual styling */
  text-decoration: none;
  padding: 4px;
  font-family: sans-serif;
  color: #fff;
  font-size: 8px;
  background: #000;
  border-radius: 100px;
  white-space: nowrap;
}

footer.footer {
  border-top: 1px solid gray;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 800px;
  position: fixed;
  bottom: 0;
}
.footer-margin {
  height: 54px;
}


.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 30px;
  margin-top: 50px;
}

.product-card {
  width: 300px;
  border-radius: 10px;
  box-shadow:  0px 0px 47px -20px rgba(0,0,0,1);
  margin: 60px 0px 60px 0px;
  background-color: #fff;
}

.product-image {
  height: 300px;
  overflow: hidden;
  position: relative;
  top:-90px;
  padding: 10px;
  transition: transform 0.5s;
}

.product-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.product-details {
  padding: 0 20px 20px 20px;
  margin-top:-90px;
}

.product-title {
  font-size: 1.5rem;
}

.product-subdetails {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 16px 0;
}

.product-price::before {
  content: 'Price:';
  display: block;
  font-size: 10px;
  color: #00000048;
}
.product-color::before {
  content: 'Color:';
  display: block;
  font-size: 10px;
  color: #00000048;
}
.product-category::before {
  content: 'Category:';
  display: block;
  font-size: 10px;
  color: #00000048;
}

.buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.button {
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
}

