{{ partial "header.html" . }}

{{ if eq .Section "posts" }}
<div class="w3-container">
	<h1>{{ .Title }}</h1>
	<span class="w3-tag w3-round-large">{{ .Date.Format "January 2, 2006" }}</span>
	<span class="w3-tag w3-round-large">{{ .ReadingTime }} minute read</span>
	<span class="w3-tag w3-round-large">{{ .WordCount }} words</span>
</div>
{{ end }}

<br>

<div class="w3-container">

{{ if .Params.image }}
	<img src="{{ .Params.image }}" alt="{{ .Params.image_alt }}" class="w3-round-large w3-block" style="border: 1px solid grey;" />
{{ end }}

{{ .TableOfContents }}

{{ .Content }}

</div>

{{ partial "breadcrumb.html" . }}

{{ partial "social-sharing.html" . }}

<hr>
<h5 class="w3-container">Related articles</h5>
{{ range .Site.Pages }}
{{ if in .Params.categories "blog" }}
<div class="w3-container">
	{{ partial "blog-post-list.html" . }}
</div>
{{ end }}
{{ end }}


{{ partial "footer.html" . }}
	