{{ partial "header.html" . }}

<nav>
	<ul class="w3-breadcrumb">
	{{ range .Ancestors.Reverse }}
		<li class="w3-bar-item">
			<a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a>
		</li>
	{{ end }}
		<li class="w3-active">
			<a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a>
		</li>
	</ul>
</nav>

{{ if eq .Section "posts" }}
<div class="w3-container">
	<h1>{{ .Title }}</h1>
	<span class="w3-tag w3-round-large">{{ .Date.Format "January 2, 2006" }}</span>
	<span class="w3-tag w3-round-large">{{ .ReadingTime }} minute read</span>
	<span class="w3-tag w3-round-large">{{ .WordCount }} words</span>
</div>
{{ end }}

<br>

<div class="w3-container">

{{ if .Params.image }}
<div class="hero-image-container w3-round-large">
	<img src="{{ .Params.image }}" alt="{{ .Params.image_alt }}" class="w3-round-large hero-image" style="border: 1px solid grey;" />
</div>
{{ end }}

{{ .TableOfContents }}

{{ .Content }}

</div>

<div class="w3-bar w3-gray">
	{{ if .Prev }}
	<a href="{{.Prev.Permalink}}" class="w3-bar-item w3-left w3-button"><div class="material-icons">arrow_back</div></a>
	{{ end }}
	{{ if .Next }}
	<a href="{{.Next.Permalink}}" class="w3-bar-item w3-right w3-button"><div class="material-icons">arrow_forward</div></a>
	{{ end }}
</div>

<hr>
<h5 class="w3-container">Related articles</h5>
<div class="w3-container">
    {{ $data := where .Site.Pages.ByLastmod.Reverse "Params.categories" "intersect" (slice "blog")}}
    {{ range first 5 $data }}
        {{ partial "blog-post-list.html" . }}
    {{ end }}
</div>

{{ partial "footer.html" . }}
	